/*
---------- SOMMAIRE CSS-----------
#1 VARIABLES
#2 BALISES HTML
#3 CLASS GLOBALS
#4 HEADER
#5 WELCOME
#6 PRODUCT
#7 REWARD
#8 FOOTER
--------------------------------------
*/


/*
#1 VARIABLES
 */
:root {
    --color-one: #ff6c40c7;
    --color-two: #7bc37b;
}

/*
#2 BALISES HTML
 */
body {
    font-family: sans-serif;
    margin: 0;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

section{
    padding: 5% 0;
}

p {
    font-weight: 500;
}

ul {
    list-style: none;
}

/*
#3 CLASS GLOBALS
*/
.container {
    margin: 0 4%;
}

.flex {
    display: flex;
}

.colum {
    flex-direction: column;
}

.grid {
    display: grid;
}

.g-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.g-141 {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.separator {
    width: 100%;
    border: 1px solid var(--color-one);
    display: block;
    margin: 2% 0;
}

.s-w {
    border: 1px solid white !important;
}

/*
#4 HEADER
 */
header {
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    position: sticky;
    top: 0;
    z-index: 10;
}

header > .title {
    width: 30%;
    padding-left: 1%;
    display: flex;
    align-items: center;
}

header > nav {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 5%;
}

header ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 1em 0;
    height: 100%;
    align-items: center;
}

header li {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin-right: 35px;
}
header li:hover{
    transition: 0.5s;
    background: var(--color-one);
    border: 1px white solid;
    transform: scale(1.1);
}
header li:hover a{
    color: white;
}
header a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    min-width: 60px;
    color: black;
}

/*
#5 WELCOME
 */
.welcome {
    background: var(--color-one);
}

.welcome article {
    display: flex;
}

.welcome article > img {
    border: 3px solid black;
    width: 45%;
    box-shadow: -16px 11px 5px 2px white;
}

.welcome article > .content {
    line-height: 1.6em;
    color: white;
    display: flex;
    padding: 0 3%;
    display: flex;
    flex-direction: column;
}

/*
#6 PRODUCT
 */
.products {
    background: white;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border: 2px #7bc37b solid;
}

.card > .image {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card img {
    max-width: 75%;
    max-height: 75%;
}

.card .content {
    width: 100%;
    background: #7bc37b;
    padding: 1em;
    box-sizing: border-box;
}

.card .content > ul {
    padding: 0;
}

.card .content > ul > li {
    margin-bottom: 7px;
    color: white;
}

.alerg i {
    margin-right: 7px;
}


.col-4 {
    width: 100%;
    display: flex;
    justify-content: center;
}

/*
#7 REWARD
 */
.reward {
    background: var(--color-one);
}

.social-icon {
    width: 100%;
    box-sizing: border-box;
    background: var(--color-two);
}

.social-icon > ul {
    display: flex;
    padding: 0;
    width: 100%;
    justify-content: space-between;
    margin: 0;
}

.icon {
    width: 20%;
    border: 1px solid white;
    background: white;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.icon a {
    padding: 0.7em;
    width: 100%;
    text-align: center;
}

.fa-heart {
    color: red;
}
.content > div > ul > li:nth-child(1):hover{
    transition: 0.5s;
    background: red;
}

.content > div > ul > li:nth-child(1):hover .fa-heart{
    color: white;
}

.fa-shopping-bag {
    color: var(--color-one);
}
.content > div > ul > li:nth-child(2):hover{
    transition: 0.5s;
    background: var(--color-one);
}
.content > div > ul > li:nth-child(2):hover .fa-shopping-bag{
    color: white;
}

.fa-star {
    color: yellow;
}


.reward > .image {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.reward > .stars {
    display: flex;
    justify-content: center;
}

.reward .display-stars {
    position: relative;
    width: 20%;
    height: 80px;
}

.display-stars > span {
    position: absolute;
}

.display-stars #one {
    bottom: 30px;
    left: 2px;
}

.display-stars #two {
    left: 23%;
    bottom: 52px;
}

.display-stars #three {
    left: 46%;
    top: 0;
}

.display-stars #four {
    right: 23%;
    bottom: 52px;
}

.display-stars #five {
    right: 2px;
    bottom: 30px;
}

.reward .title {
    text-align: center;
    color: white;
    margin-bottom: 1em;
}

.reward .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.reward .content p {
    line-height: 1.6em;
}

/*
#8 FOOTER
 */
footer {
    background: antiquewhite;
    padding: 1em;
}

footer > .container {
    min-height: 150px;
}

footer ul {
    margin: 0;
    margin-top: 1em;
    padding: 0;
    height: 100%;
}

footer ul > li {
    margin-bottom: 15px;
}

footer ul > li > i {
    margin-right: 7px;
    font-size: 20px;
}


footer .contact ul a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

footer .citation figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}


